@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import 'tailwindcss';

@theme {
    --color-foreground-primary: #ffffff;

    --color-bg-primary: #221F25;
    --color-accent-light: #A368E6;
    --color-accent-dark: #7F4BC8;

    --font-dm-sans: "DM Sans", sans-serif;
}